@{
    ViewBag.Title = "About";
}

<br />
<h2>From the Homepage</h2>
<br />
<p style="font-size:larger"><strong>Click desired action</strong></p>

<img src="~/Images/clickAll.jpg" style="width: 75rem; border:inset">
<br />
<br />
<br />
<br />

<p style="font-size:larger"><strong>Add to lists and view information.</strong></p>
<img src="~/Images/addViewVehicle.jpg" style=" width: 80rem;border: inset">

<br />
<br />
<br />
<br />

<p style="font-size:larger"><strong>Enter Information to store in the database</strong></p>
<img src="~/Images/enterInfo.jpg" style=" width: 60rem;border: inset">

