@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vehicle Maintenance Tracker</h1>
    <p class="lead">Track service, repairs and fuel economy with the touch of a button. Great for personal and professional drivers, or anyone managing a small motorpool.</p>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Learn More >", "About", "Home")></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vehicles</h2>
        <img src="~/Images/vehicle.jpg" class="card-img-top" alt="Vehicle Icon" style="width: 20rem;">
        <p>
            Store a detailed list of your motor vehicles. By staying on top of your maintenance schedule, you will be preventing larger issues which could keep your car from running.
        </p>

        <a class="btn btn-primary btn-group" @Html.ActionLink("Vehicles", "Index", "Vehicle")></a>
    </div>
    <div class="col-md-4">
        <h2>Add Fuel Stop</h2>
        <img src="~/Images/fuelLightBlue.jpg" alt="Vehicle Icon" style="width: 15rem;">
        <p>It is important to know how much fuel your vehicle is using and why. A fuel tracking system helps you gain insight into driver behavior, vehicle condition, or fleet operations as a whole.</p>
        <p><a class="btn btn-primary btn-group" @Html.ActionLink("Fuel Up", "Create", "FuelUp")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Vehicle Service</h2>
        <img src="~/Images/service.jpg" alt="Vehicle Icon" style="width: 15rem;">
        <p>Tracking vehicle maintenance and repairs can easily provide you with a snapshot of what is coming due, what it will cost, and how you and you can best be prepared.</p>
        <p><a class="btn btn-primary btn-group" @Html.ActionLink("Add Service", "Create", "VehicleMaintenance")></a></p>
    </div>
</div>